swagger: "2.0"
info:
  description: "Backend API service for the Foria ticketing app."
  version: "1.0.0"
  title: "Foria API Server"
  contact:
    email: "info@foriatickets.com"
schemes:
  - "https"
host: "api.foriatickets.com"
basePath: "/v1"
tags:
  - name: "status"
    description: "Server operations."
  - name: "user"
    description: "Operations for the signed in user. May be customer or venue."
  - name: "venue"
    description: "Operations to be preformed by a venue with venue scope."
paths:
  /health-check:
    get:
      tags:
        - "status"
      summary: "Confirms the server is up and running."
      produces:
        - "application/json"
      responses:
        200:
          description: "Confirms the server is running."
          schema:
            $ref: '#/definitions/BaseApiModel'
  /user:
    post:
      tags:
        - "user"
      summary: "Create user in application database."
      description: "This should only be called from Auth0."
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Created user object"
          required: true
          schema:
            $ref: "#/definitions/User"
      responses:
        200:
          description: "User created or has already been created."
          schema:
            $ref: "#/definitions/User"
  /user/{user_id}:
    get:
      tags:
        - "user"
      summary: "Get user by userId."
      description: "Obtains the user by their Foria userId."
      produces:
        - "application/json"
      parameters:
        - name: "user_id"
          in: "path"
          description: "The user ID stored in the Foria database."
          required: true
          type: "string"
          maxLength: 36
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/User"
        404:
          description: "User not found by ID."
  /venue:
    post:
      tags:
        - "venue"
      summary: "Create venue in application database."
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Created user object"
          required: true
          schema:
            $ref: "#/definitions/Venue"
      responses:
        200:
          description: "Venue created."
          schema:
            $ref: "#/definitions/Venue"
  /venue/{venue_id}:
    get:
      tags:
        - "venue"
      summary: "Get venue by venue_id."
      description: "Obtains the user by their Foria venue_id."
      produces:
        - "application/json"
      parameters:
        - name: "venue_id"
          in: "path"
          description: "The venue ID stored in the Foria database."
          required: true
          type: "string"
          maxLength: 36
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Venue"
        404:
          description: "Venue not found by ID."
securityDefinitions:
  auth:
    type: "oauth2"
    description: "Auth0 token authorization server."
    flow: "accessCode"
    authorizationUrl: "https://foriatickets.auth0.com/authorize?audience=api.foriatickets.com"
    tokenUrl: "https://foriatickets.auth0.com/oauth/token"
    scopes:
      email: "Obtains e-mail in token."
      profile: "Obtains full profile."
definitions:
  BaseApiModel:
    type: "object"
    properties:
      status_code:
        type: "integer"
        format: "int32"
      message:
        type: "string"
        default: "OK"
  User:
    type: "object"
    properties:
      id:
        type: "string"
        maxLength: 36
        readOnly: true
      auth0_id:
        type: "string"
      first_name:
        type: "string"
      last_name:
        type: "string"
      email:
        type: "string"
  Venue:
    type: "object"
    properties:
      id:
        type: "string"
        maxLength: 36
        readOnly: true
      name:
        type: "string"
      description:
        type: "string"
      contact_name:
        type: "string"
      contact_email:
        type: "string"
      street_address:
        type: "string"
      city:
        type: "string"
      state:
        type: "string"
      zip:
        type: "string"
        maxLength: 5
        minLength: 5
      country:
        type: "string"
        maxLength: 3
        minLength: 3
externalDocs:
  description: "JIRA Board"
  url: "https://foria.atlassian.net"